L4, 15-110 CMU-Q, Fall'19, G. Di Caro
***

**Variables**

***

In [20]:
2+3
5.5 / 1.5
print('Temperature is', 35.3, 'degrees') 
print('This statement is:', False)

Temperature is 35.3 degrees
This statement is: False

In [21]:
((2+3) * (10 // 5) + (5 % 2)) / 2

5.5

In [10]:
a = 2
print(a, type(a), id(a))
print("Second time:", id(a))
x = True
print(x, type(x), id(x))
b = 3.5
print("Id b:", id(b))
a = b + 3
print(a, b, type(a), type(b), id(a))
print("Second/thrid time:", id(a))

2 <class 'int'> 4505162896
Second time: 4505162896
True <class 'bool'> 4504759568
Id b: 4541658648
6.5 3.5 <class 'float'> <class 'float'> 4541658744
Second/thrid time: 4541658744

In [11]:
b = a
a = b
print(a, b, id(a), id(b))

3.5 3.5 4541658648 4541658648

In [25]:
x = 2
y = 2
x = 3

In [26]:
print(id(x), id(y))

4505162928 4505162896

In [35]:
x = 2
y = 2
print(id(x), id(y)) 
# they MIGHT be the same, since the interpreter may optimize the use of memory
# but this is not necessarily happening 
#(and in fact it is not happening in the case of the two floats in the next cell)

4505162896 4505162896

In [37]:
z = 123.5
g = 123.5
print(id(z), id(g))

4541659176 4541659200

***
The example below shows how code can be messy when good style rule aren't followed

In [35]:
a=2+(3*4)
b=2**a
c=float(b)
d="This is a mess"
e=10000//(a+1)
print(d,c,b,e)

This is a mess 16384.0 16384 666

In [34]:
income = 2 + (3*4)
power_income = 2**a
real_power_income = float(b)
msg = "Income analysis"
fit_income_in_debt = 10000 // (a+1)
print(msg, '\n', "Income to power (real):", real_power_income, '\n',
      "Income to power (int):", power_income, '\n',
      "Integer fit of income into debt:", fit_income_in_debt)

Income analysis
 Income to power (real): 16384.0
 Income to power (int): 16384
 Integer fit of income into debt: 666